@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 400;
   src: url("../fonts/Exo_2/Exo2-Regular.ttf");
}
@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 500;
   src: url("../fonts/Exo_2/Exo2-Medium.ttf");
}
@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 600;
   src: url("../fonts/Exo_2/Exo2-SemiBold.ttf");
}
@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 700;
   src: url("../fonts/Exo_2/Exo2-Bold.ttf");
}
@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 800;
   src: url("../fonts/Exo_2/Exo2-ExtraBold.ttf");
}
@font-face {
   font-family: "Exo 2", sans-serif;
   font-weight: 900;
   src: url("../fonts/Exo_2/Exo2-Black.ttf");
}
@font-face {
   font-family: "PT Sans", sans-serif;
   font-weight: 400;
   src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
   font-family: "PT Sans", sans-serif;
   font-weight: 700;
   src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
}
